{
  "GOOGLE_OAUTH_CLIENT_ID": "",
  "FIREBASE_ANDROID_API_KEY": "",
  "FIREBASE_ANDROID_APP_ID": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": "",
  "VTOP_BRIDGE_URL": "https://vtop-bridge-production.up.railway.app",
  "VTOP_EXTENSION_URL": "https://github.com/itsKryxen/vitap-mate/releases/tag/extension"
}
